/* Import Local SCSS Files */
@import 'fonts';

/* color */

$Text-Main: #243a03;
$Red: #F6154F;
$Light-Green: #B4BA30;
$Light-Blue: #87dcc0;
$Lime: #ECF195;
$Dark-Green: #686444;
$White: #FFFFFF;
$Light-Black: #4c4c4c;
$Pure-Black: #000000;

/* fonts */

$Title-Font-Bold: 'GangwonEduPowerExtraBoldA';
$Main-Font: 'NanumSquareRound';


/* font size */

$h1-px : 150px;
$h2-px : 48px;
$h3-px : 30px;
$h4-px : 23px;
$h5-px : 20px;